<%
  const paintProperties = locals.paintProperties;
  const layoutProperties = locals.layoutProperties;
-%>
// This file is generated. Edit android/platform/scripts/generate-style-code.js, then run `make android-style-code`.

package com.mapbox.mapboxsdk.style.layers;

import android.support.annotation.ColorInt;

import com.mapbox.mapboxsdk.style.functions.CameraFunction;
import com.mapbox.mapboxsdk.style.expressions.Expression;
import com.mapbox.mapboxsdk.style.functions.Function;

import java.util.Locale;

/**
 * Constructs paint/layout properties for Layers
 *
 * @see <a href="https://www.mapbox.com/mapbox-gl-style-spec/#layers">Layer style documentation</a>
 */
public class PropertyFactory {

  /**
   * Set the property visibility.
   *
   * @param value the visibility value
   * @return property wrapper around visibility
   */
  public static PropertyValue<String> visibility(@Property.VISIBILITY String value) {
    return new LayoutPropertyValue<>("visibility", value);
  }

  /**
   * Set the property visibility.
   *
   * @param <T> the function input type
   * @param function the visibility function
   * @return property wrapper around a String function
   */
  @Deprecated
  public static <T> PropertyValue<Function<T, String>> visibility(Function<T, String> function) {
    return new LayoutPropertyValue<>("visibility", function);
  }

<% for (const property of paintProperties) { -%>
<% if (property.type == 'color') { -%>
  /**
   * <%- propertyFactoryMethodDoc(property) %>
   *
   * @param value a int color value
   * @return property wrapper around String color
   */
  public static PropertyValue<String> <%- camelizeWithLeadingLowercase(property.name) %>(@ColorInt int value) {
    return new PaintPropertyValue<>("<%-  property.name %>", colorToRgbaString(value));
  }

<% } -%>
  /**
   * <%- propertyFactoryMethodDoc(property) %>
   *
   * @param value a <%- propertyType(property) %> value
   * @return property wrapper around <%- propertyType(property) %>
   */
  public static PropertyValue<<%- propertyType(property) %>> <%- camelizeWithLeadingLowercase(property.name) %>(<%- propertyTypeAnnotation(property) %><%- iff(() => propertyTypeAnnotation(property), " ") %><%- propertyType(property) %> value) {
    return new PaintPropertyValue<>("<%-  property.name %>", value);
  }

  /**
   * <%- propertyFactoryMethodDoc(property) %>
   *
   * @param expression an expression statement
   * @return property wrapper around an expression statement
   */
  public static PropertyValue<Expression> <%- camelizeWithLeadingLowercase(property.name) %>(Expression expression) {
    return new PaintPropertyValue<>("<%-  property.name %>", expression);
  }

<% if (supportsPropertyFunction(property)) { -%>

  /**
   * <%- propertyFactoryMethodDoc(property) %>
   *
   * @param <T> the function input type
   * @param function a wrapper function for <%- propertyType(property) %>
   * @return property wrapper around a <%- propertyType(property) %> function
   */
  @Deprecated
  public static <T> PropertyValue<Function<T, <%- propertyType(property) %>>> <%- camelizeWithLeadingLowercase(property.name) %>(Function<T, <%- propertyType(property) %>> function) {
    return new PaintPropertyValue<>("<%-  property.name %>", function);
  }

<% } else if (supportsZoomFunction(property)) { -%>

  /**
   * <%- propertyFactoryMethodDoc(property) %>
   *
   * @param <Z> the zoom parameter type
   * @param function a wrapper {@link CameraFunction} for <%- propertyType(property) %>
   * @return property wrapper around a <%- propertyType(property) %> function
   */
  @Deprecated
  public static <Z extends Number> PropertyValue<CameraFunction<Z, <%- propertyType(property) %>>> <%- camelizeWithLeadingLowercase(property.name) %>(CameraFunction<Z, <%- propertyType(property) %>> function) {
    return new PaintPropertyValue<>("<%-  property.name %>", function);
  }

<% } -%>
<% } -%>
<% for (const property of layoutProperties) { -%>
  /**
   * <%- propertyFactoryMethodDoc(property) %>
   *
   * @param value a <%- propertyType(property) %> value
   * @return property wrapper around <%- propertyType(property) %>
   */
  public static PropertyValue<<%- propertyType(property) %>> <%- camelizeWithLeadingLowercase(property.name) %>(<%- propertyTypeAnnotation(property) %><%- iff(() => propertyTypeAnnotation(property), " ") %><%- propertyType(property) %> value) {
    return new LayoutPropertyValue<>("<%-  property.name %>", value);
  }

  /**
   * <%- propertyFactoryMethodDoc(property) %>
   *
   * @param value a <%- propertyType(property) %> value
   * @return property wrapper around <%- propertyType(property) %>
   */
  public static PropertyValue<Expression> <%- camelizeWithLeadingLowercase(property.name) %>(Expression value) {
    return new LayoutPropertyValue<>("<%-  property.name %>", value);
  }

<% if (supportsPropertyFunction(property)) { -%>

  /**
   * <%- propertyFactoryMethodDoc(property) %>
   *
   * @param <T> the function input type
   * @param function a wrapper function for <%- propertyType(property) %>
   * @return property wrapper around a <%- propertyType(property) %> function
   */
  public static <T> PropertyValue<Function<T, <%- propertyType(property) %>>> <%- camelizeWithLeadingLowercase(property.name) %>(Function<T, <%- propertyType(property) %>> function) {
    return new LayoutPropertyValue<>("<%-  property.name %>", function);
  }

<% } else if (supportsZoomFunction(property)) { -%>

  /**
   * <%- propertyFactoryMethodDoc(property) %>
   *
   * @param <Z> the zoom parameter type
   * @param function a wrapper {@link CameraFunction} for <%- propertyType(property) %>
   * @return property wrapper around a <%- propertyType(property) %> function
   */
  public static <Z extends Number> PropertyValue<CameraFunction<Z, <%- propertyType(property) %>>> <%- camelizeWithLeadingLowercase(property.name) %>(CameraFunction<Z, <%- propertyType(property) %>> function) {
    return new LayoutPropertyValue<>("<%-  property.name %>", function);
  }

<% } -%>
<% } -%>
  public static String colorToRgbaString(@ColorInt int value) {
    return String.format(Locale.US,"rgba(%d, %d, %d, %d)",
      (value >> 16) & 0xFF, (value >> 8) & 0xFF, value & 0xFF, (value >> 24) & 0xFF);
  }

}
